body{
    background-color: black;
}
#box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    font:  13em;
    text-align: center;
    font-size: 3em;
    transition: rotate(38deg) 5s ease-in-out;
    /* animation-name: slideLeft;
    animation-duration:6s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    animation-timing-function: linear;  
     */
     animation
    
}

@keyframes slideLeft {
    from{transform: translateX(100%)}
}
@keyframes slideRight {
    to{transform: translateX(100%)}
}
@keyframes slideUp{
    from{transform:translateY(300%)}
}
@keyframes slideDown{
    to{transform:translateY(500%)}
}
@keyframes rotate{
    70%{transform:rotateZ(300deg)}
}
@keyframes grow{
    20%{transform:(3,3)}
}
@keyframes shrink{
    20%{transform:(0.3,0.3)}
}
@keyframes fade{
    50%{opacity:0}
}
@keyframes colorChange{
    0%{background-color: coral;}
    20%{ background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: rgb(20, 240, 20)}
    80%{background: rgb(79, 79, 239);}
    100%{background-color: rgb(43, 7, 78);}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 60px pink;}
}

